.table-header {
    display: flex;
    align-items: center;
}

.table-title {
    flex-grow: 1;
}

.align-end {
    align-items: flex-end;
}

.invalid-input {
    border-color: #d10000;
}

.employee-image {
    width: 4rem;
    height: 3rem;
    border-radius: 2rem;
}

.remove-image-icon {
    cursor: pointer;
    font-size: 0.8rem;
    color: red;
    margin-left: 0.3rem;
}

.emp-img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}