<!-- Section: Interpolation -->

<div class="title">
  Title: {{title}} <!-- Calling variable from component -->
</div>
<div class="title">
  Number: {{num}}
</div>
<div class="title">
  Boolean: {{bool}}
</div>
<div class="title">
  Array: {{arr}}
</div>
<!-- End of Section -->

<br>

<!-- Section: Directives -->
<!--  Structural Directives (NgIf, NgFor, NgSwitch) -->
<!--  Attribute Directives (NgClass, NgStyle) -->
<!--  Control Flow Syntax (@for, @if) -->

<div class="title">Before Angular 17</div>
<div *ngFor="let student of students; index as i"> <!-- Calling NgFor directive from component -->
  <span>{{i + 1}}) </span>
  <span [ngClass]="{
    'passed': student.mark > 50,
    'failed': student.mark <= 50
  }">
    {{student.name}} 
  </span>
  <span [ngStyle]="{
    'color': student.mark > 50 ? 'green' : 'red',
    'font-size': student.mark > 50 ? '14px' : '12px'
  }">
    {{student.mark}}&percnt; 
  </span>
  <span *ngIf="student.mark > 50">Passed</span> <!-- Calling NgIf directive from component -->
  <span *ngIf="student.mark <= 50">Failed</span>
</div>

<br>

<!-- New, high performance for loop and if statement -->
<div class="title">After Angular 17</div>
@for (student of students; track student; let i = $index) {
  <div>
    <span>{{i + 1}}) {{student.name}} {{student.mark}}&percnt; </span>
    <span>{{student.mark > 50 ? "Passed" : "Failed"}} &VerticalLine; </span>

    @if (student.mark > 50) {
      <span>Passed</span>
    }
    @else {
      <span>Failed</span>
    }
  </div>
}
<!-- End of Section -->